body {
  background: linear-gradient(to right,black,grey);
  justify-items: center;
}
.bg1 {
  border: solid white; color: white;
  border-radius: 8px;
  background: rgba(0,0,0,0.4);
  margin: 20px auto;
  text-align: center;
  box-shadow: 0 0 8px white;
  animation: atasbawah 3s ease;
}
.bg2 {
  height: 300px;
  border: solid white; color: white;
  border-radius: 8px;
  background: rgba(0,0,0,0.4);
  margin: 20px auto;
  text-align: center;
  box-shadow: 0 0 8px white;
}
.bg3 {
  border: solid white; color: white;
  border-radius: 8px;
  background: rgba(0,0,0,0.4);
  margin: 20px auto;
  text-align: center;
  box-shadow: 0 0 8px white;
  animation: scales 1s ease;
}
.img {
  width: 100px; height: 100px;
  border: solid white; border-radius: 50px;
}
.text {
  font-weight: bold;
  margin-top: -3px;
}
.cop {
  font-weight: justify;
  padding-top: 200px;
  color: white;
}
.button1 {
  width: 100px; height: 50px;
  border: solid white; border-radius: 9px;
  background: grey;
  color: white;
  font-weight: bold;
  transition: transform 0.3s ease;
}
.button1:active {
  transform: scale(0.80);
}
.button2 {
  border: solid white; border-radius: 15px;
  font-weight: bold;
  width: 100px; height: 35px;
  background: black;
  color: white;
  transition: transform 0.3s ease;
}
.button2:active {
  transform: scale(0.80);
}
@keyframes atasbawah {
  0% {
    margin-top: -200px;
    opacity: 0;
  } 100% {
    margin-top: 20px;
    opacity: 1;
  }
}
  @keyframes scales {
    0% {
      transform: scale(0);
    } 100% {
      transform: scale(1);
    }
  }